<!DOCTYPE html>
<html>
    <head>
        <title>Classes</title>
    </head>
    <body>
        {% extends "navigation.html" %}
        {% block content %}
        <h1>Classes I've Taken This Semester</h1>
                
        <ol>
            <li>Data Structures in Java</li>
            <p>This has probably been my favorite class to take this semster.
            Not only is Blaer an amazing professor whose humor and deep 
            understanding of programming concepts can make any lecture one to
            enjoy, but this class is fundamental if one wants to have a future 
            in computer programming. After Blaer's class, I feel prepared to
            apply my knowledge in my own personal projects.</p>
            
            <li>Physics: Introduction to Electricity, Magnetism, and Optics</li>
            <p>Although physics isn't my forte, I did enjoy this class as well 
            as Tanya's lecture. I'm just glad I don't have to take another 
            physics class for my major, unlike a few of my MechE friends.</p>
            
            <li>Introduction to Computing for Engineers and Applies Scientists</li>
            <p>This has to be my second favorite class. Java will always have
            a place in my heart, I'm sorry Python. I do have to say that although
            I had some programming experience before this class, I found this 
            course to be one of the difficult intro to CS classes I've ever 
            taken. Some of the assignments were a bit vague and one was definately
            beyond my understanding of physics, but I don't regret having to 
            take this course. It brought to the table something that other
            intro prorgramming classes don't: application to the real world.
            We learned how to plot an object's projectile motion, how to 
            determine if a tumor is benign or malignant using a database, etc.</p>
            
            <li>Introduction to Experimental Physics</li>
            <p>This class is a physics lab class, in which we learned how to 
            write a college-level lab report and perform various experiments
            in a lab environment. Not my favorite class, but I did learn
            many skills that I can apply when I write my thesis in graduate
            school. </p>
            
            <li>Physical Education: Strength Training</li>
            <p>Forced to take a PE course, I dreaded the day I'd have to 
            walk into the college gym and (gasp) exercise. However, I've come to
            find out that I actually like strength training! I've learned many
            muscle-building routines that I continue to implement today. The one
            regret I do have about this class is that I never tried to bench
            press. Hopefully, after quarantine is over and we can return to
            campus, I can complete this goal of mine. </p>
        </ol>        
        
        
        {% endblock %}
        
    </body>
</html>