<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">     
        <title>For Fun</title>        
    </head>
    
    <body>
        {% extends "navigation.html" %}
        {% block content %}
        <div class= "parallax">
            <div id="ontop">    
                <img id= "firstPic" src="/static/images/minnieMain.jpg" alt="Minnie.">       
                <a href="#main">Minnie</a> 
            </div>
        </div>
        
        
        <div id= "main">
            
            <h1>Minnie</h1>
            <br>
            <p> Something that has been helping me through quarantine is
            scooping up my cat Minnie after a class.
            She's a 13 year old mama cat, hates cuddles, and loves losing 
            all of her toys. Here is a gallery of her best photos, 
            and hopefully she can bring some joy to you too. </p>
            
            <table>
                <tr>
                    <td>
                        <img src="/static/images/m1.jpg" alt="Minnie.">
                        <div class="caption">
                            <div class="text">This is Minnie in her prime.</div>
                        </div>
                    </td>
                    <td>
                        <img src="/static/images/m2.jpg" alt="Minnie.">
                        <div class="caption">
                            <div class="text">As you can see, she's a little silly.</div>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <img src="/static/images/m3.jpg" alt="Minnie.">
                        <div class="caption">
                            <div class="text">And a little chonky.</div>
                        </div>
                    </td>
                    <td>
                        <img src="/static/images/m4.jpg" alt="Minnie.">
                        <div class="caption">
                            <div class="text">Sometimes she can seem a little 
                            distant.</div>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <img src="/static/images/m5.jpg" alt="Minnie.">
                        <div class="caption">
                            <div class="text">But really she just needs 
                            a cat nap.</div>
                        </div>
                    </td>
                    <td>
                        <img src="/static/images/m6.jpg" alt="Minnie.">
                        <div class="caption">
                            <div class="text">And who could resist such an adorable
                            face?</div>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <img src="/static/images/m7.jpg" alt="Minnie.">
                        <div class="caption">
                            <div class="text">So although she may look annoyed 
                            half the time . . .</div>
                        </div>
                    </td>
                    <td>
                        <img src="/static/images/m8.jpg" alt="Minnie.">
                        <div class="caption">
                            <div class="text">She is still my sweet angel
                            who can rock a Santa hat.</div>
                        </div>
                    </td>
                </tr>
        
            </table>
                  
        </div>
        {% endblock %}

    </body>
</html>