<!DOCTYPE html>
<html>
    <head>
        <title>Leaving Campus</title>
    </head>
    <body>
        {% extends "navigation.html" %}
        {% block content %}
        <h1>Things I'll Miss About Campus</h1>
        
        <p> I don't think I ever expected that I would experience a pandemic. 
        Pandemic. You learned about them in all of your history books: there 
        was the Bubonic Plague, Cholera, HIV/AIDS, and now, COVID-19. When we 
        first heard about it here in the US, we shrugged it off because it 
        wasn't here yet. Come mid-March, and students at Columbia were forced 
        to leave campus due to how quickly and easily COVID-19 was spreading.
        We are now stuck at home, with some of us enjoying the shared time 
        we now have with our families, while others are dealing with the loss
        of loved ones, and even more who are worried about how they'll
        pay for rent. Many of us are scared and angry as we await for a vaccine, 
        which could unfortunately take another from now to be available. And 
        so, I thought I'd share a few things that have been helping me
        through this unprecedented time:</p>
        
        <ul>
            <li>Picking Up My Cat Despite Her Hating It</li>
            <p>After a Zoom lecture, I'll immediatebly go to the kitchen and 
            pick up my 13-year old mama cat, Minnie. It's just the best stress
            reliever I've found to work. </p>
            
            <li>Online Shopping</li>
            <p>It's become a problem. But in my defense, I am just preparing 
            my wardrobe for when quarantine is over. </p>
            
            <li>Indoor Biking</li>
            <p>My sister bought an indoor bike a few months ago and we're 
            finally using it. I do have to say that it makes me feel much 
            better about myself after sitting all day in classes.</p>
            
            <li>Video Calling Friends</li>
            <p>Sometimes it's nice to talk to someone who isn't someone you're
            stuck with 24/7 at home. I'm glad that I was able to develop 
            a close group of friends at Columbia that I can talk to during
            quarantine as well as some friends from high school. Hopefully
            we can return to campus in the fall or spring semester :) </p>
            
           <li>Side Projects</li>
           <p>Like I said, I plan to major in CS and so once finals are over,
           I </p> 
        
        </ul>
        
        
        
        {% endblock %}

    </body>
</html>