<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">     
        <title>For Fun</title>        
    </head>
    
    <body>
        {% extends "navigation.html" %}
        {% block content %}
        <div class= "parallax">
            <div id="ontop">    
                <img id= "firstPic" src="/static/images/minnieMain.jpg" alt="Minnie.">       
                <a href="#main">Minnie</a> 
            </div>
        </div>
        
        
        <div id= "main">
            
            <h1>Minnie</h1>
            
            <p> Something that has been helping me through quarantine has been
            scooping up my cat Minnie from her nap after finishing a lecture.
            She's a 13 year old mama cat and she loves grass as well as losing
            all of her toys. Here is a compilation of her best photos, 
            and hopefully she can bring some joy to you too. </p>
            
            <div class="row">
            <div class="responsive">
                <div class="gallery">
                    <img class= "pic" src="/static/images/m1.jpg" alt="Minnie.">
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>
            
            <div class="responsive">
                <div class="gallery">
                    <img class= "pic" src="/static/images/m2.jpg" alt="Minnie.">
                    <div class="desc">Add a description of the image here</div>
                </div>             
            </div>
            </div>
                    
        </div>
        {% endblock %}

    </body>
</html>