<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <style>
            img {
              width: 25%;
            }
        </style>
    <head>
    
    <body>
        <h1>Rashel D. Rojas</h1>
        
        <img src="/static/images/profile.jpg" alt="My picture.">

        <p>Current Grade: 96.33% </p>
        
        <p>I am a rising sophomore at Columbia University and I
        plan to major in Computer Science. I am unsure of which track
        to take yet, but I am highly interested in Artificial Intelligence
        and Machine Learning.</p>
        
        <div class="menu"><strong>
            <ul>
                <li><a href="{{ url_for('assignments') }}">My Assignments</a></li>
                <li><a href="{{ url_for('classes') }}">My Classes</a></li>
            </ul>
        </strong></div>
        
        <p>Favorite Website: <a href="https://www.ulta.com/">Ulta</a></p>
        <p>(I blame quarantine for my newfound online shopping addiction)</p>        
       
    </body>
</html>